# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
env/
.venv/

# Django
# Removed *.sqlite3 to allow db bundling
*.log
staticfiles/
media/
logs/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
